<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card-header">
      <h3>Login</h3>
    </div>

    <div class="card-body">
      <form class="form" [formGroup]="loginUser" (ngSubmit)="logIn()">
        <div class="form-group">

          <label class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email" id="email" required>

          <div *ngIf="loginUser.get('email').touched && loginUser.get('email').hasError('required')" class="alert alert-danger">This field is required.</div>
          <div *ngIf="loginUser.get('email').touched && loginUser.get('email').hasError('email')" class="alert alert-danger">Enter valid email address.</div>

        </div>
        <div class="form-group">

          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password">

          <div *ngIf="loginUser.get('password').touched && loginUser.get('password').hasError('required')" class="alert alert-danger">This field is required.</div>
          <div *ngIf="loginUser.get('password').touched && loginUser.get('password').hasError('minlength')" class="alert alert-danger">Min password length must be 8.</div>

        </div>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!loginUser.valid">Login</button>
      </form>
    </div>

  </div>
</div>




